<div id="playerAddressModal">
      <div class="modal-body">
        <strong style="text-decoration: underline">{{ 'Team Address'|trans }}</strong>
        <p style="margin: 0;"><span style="color:#b41b5d">{{ 'Street One'|trans }}:</span> {{ address.street_address_one }}</p>
        <p style="margin: 0;"><span style="color:#9f640b">{{ 'Street Two'|trans }}:</span> {{ address.street_address_two }}</p>
        <p style="margin: 0;"><span style="color:#a91e33">{{ 'City'|trans }}:</span> {{ address.city }}</p>
        <p style="margin: 0;"><span style="color:#11c915">{{ 'Country'|trans }}:</span> {{ address.country }}</p>
      </div>
</div>
